/*About Page*/
body {
    font-family:'Courier New', Courier, monospace;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: scale-down;
    width: 100px;
    height: 100px;
    text-align: center
}

h1 {               
    text-align: center;
    letter-spacing: 2px;
    color: white;
    background-color: #eb725f;
    
}

#headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    width: 30vw;
}

.topnav {
    display: block;
    text-align: center;
    margin: 20px;
}

.topnav a {
    color: black;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

.topnav a:hover {
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

.topnav a#about:hover {
    color: white;
    background-color: #eb725f;
}

.topnav a#projects:hover {
    color: white;
    background-color: #3978df;
}

.topnav a#contact:hover {
    color: white;
    background-color: #f4c551;
}

p {
    text-align: justify;
}

.right {
    text-align: right;
}

#resume {
    padding: 10px;
    color: white;
    background-color: #f4c551; 
    text-decoration: none;
}

#resume:hover {
    padding: 7px;
    color: #f4c551;
    background-color: white; 
    text-decoration: none;
    border: solid 3px #f4c551;
}

/*Contact Page*/
form {
    border: solid 3px #3978df;
    padding: 10px;
}

label {
    font-weight: bold;
    margin-top: 20px;
    padding-left: 5vw;
    padding-right: 0vw;
    float: left;
    width: 30px;
    text-align: right;
}

label#message {
    padding-top: 100px;
}

input {
    width: 25vw;
    margin-top: 20px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 2px #3978df;
    font-family: 'Courier New', Courier, monospace;
}

input#message {
    height: 50px;
}

input:focus {
    outline: none;
}

textarea {
    width: 25vw;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 2px #3978df;
    padding-top: 20px;
    font-family: 'Courier New', Courier, monospace;
}

textarea:focus {
    outline: none;
}

#submit {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    color: white;
    background-color: #f4c551; 
    text-decoration: none;
    border: solid 3px #f4c551;
    margin-top: 20px;
    width: 200px;
}

#submit:hover {
    color: #f4c551;
    background-color: white; 
}

.center {
    text-align: center;
}

/*Projects page*/
h2 {               
    text-align: left;
    letter-spacing: 2px;
    color: white;
    background-color: #3978df;
    padding-left: 10px;
}

.art {
    object-fit: contain;
    height: 200px;
    width: 200px;
}

.gallery {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
}